<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>account_book</title>
</head>
<body>
<h1>編集ページ</h1>
<form action="/renew/<%= @item.id %>" method="post">
    <label for="title">商品名</label>
    <input type="text" name="title" value="<%= @item.title %>">
    <label for="title">金額</label>
    <input type="type" name="price" value="<%= @item.price %>">
    <p><input type="submit" value="編集完了"></p>
</form>
</body>
</html>